@page "/Acerca"
@inject IStringLocalizer<Localizer> Localizer

<PageTitle>Sebastián Guzmán Morla - @Localizer["AcercaTitulo"]</PageTitle>

<div class="my-5 container">
    <section>
        <h1 class="text-center">@Localizer["AcercaTitulo"]</h1>
        <div class="mt-5 row">
            <div class="p-2 col-md-6">
                <div class="shadow card">
                    <div class="card-header">
                        <h4>@Localizer["AcercaResumen"]</h4>
                    </div>
                    <div class="bg-light-subtle text-light card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>@Localizer["AcercaHabilidades"]</h5>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaHabilidades1"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaHabilidades2"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaHabilidades3"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaHabilidades4"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaHabilidades5"]</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>@Localizer["AcercaIdiomas"]</h5>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaIdiomas1"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaIdiomas2"]</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>@Localizer["AcercaCertificaciones"]</h5>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">
                                        <a class="link-light" href="https://www.efset.org/cert/hwWvG2" target="_blank">EFSET English Certificate 75/100 (C2 Proficient)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 col-md-6">
                <div class="shadow card">
                    <div class="card-header">
                        <h4>@Localizer["AcercaExperiencia"]</h4>
                    </div>
                    <div class="bg-light-subtle text-light card-body">
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>@Localizer["AcercaExperiencia1"]</h5>
                                <span class="my-2 bg-secondary shadow w-100 badge bg-primary">@((MarkupString)Localizer["AcercaExperiencia1Fecha"].ToString())</span>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaExperiencia1_1"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaExperiencia1_2"]</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>@Localizer["AcercaExperiencia2"]</h5>
                                <span class="my-2 bg-secondary shadow w-100 badge bg-primary">@((MarkupString)Localizer["AcercaExperiencia2Fecha"].ToString())</span>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaExperiencia2_1"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaExperiencia2_2"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaExperiencia2_3"]</div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-sm">
                                <h5>@Localizer["AcercaExperiencia3"]</h5>
                                <span class="my-2 bg-secondary shadow w-100 badge bg-primary">@((MarkupString)Localizer["AcercaExperiencia2Fecha"].ToString())</span>
                            </div>
                            <div class="col-md-8 col-sm">
                                <div class="shadow list-group">
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaExperiencia3_1"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaExperiencia3_2"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaExperiencia3_3"]</div>
                                    <div class="text-bg-secondary list-group-item">@Localizer["AcercaExperiencia3_4"]</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>